.wrapper {
  max-width: 50rem;
  margin: 1rem auto;
  padding: 0 1rem;
  background-color: var(--white);
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.header {
  width: 10.5rem;
  height: 3.2rem;
  margin-top: 1rem;
  border-radius: 62rem;
  background: #e5d8ea;
}

.cardText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 42rem;
  width: 100%;
}

.text {
  color: #372d3b;
}

.secondaryText {
  font-size: 1.5625rem;
}

.textLilas {
  color: #864293;
}

.cardCar {
  background: url("./assets/car.png") no-repeat;
  background-size: 30%;
  background-position: 15% 50%;
  max-width: 42rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardImg {
  position: relative;
  display: flex;
  justify-content: center;
}

.cardImg img {
  width: 100px;
}

.rating {
  width: 70px;
  height: 24px;
  border-radius: 20px;
  background-color: #372d3b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: -5px;
}

.name {
  font-size: 12px;
  font-weight: 700;
  color: #372d3b;
  margin-top: 10px;
  text-align: center;
}

.carId {
  font-weight: 700;
  color: #372d3b;
  font-size: 2rem;
  text-align: left;
}

.carName {
  font-weight: 500;
  color: #372d3b;
  font-size: 1.3rem;
}

.cardComments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 30px auto;
}

.cardPublish {
  display: flex;
  max-width: 42rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 48px;
  height: 48px;
}

.cardPublish > div {
  display: flex;
  gap: 24px;
}

.cardPublish div button {
  background-color: #00875f;
  width: 100px;
  height: 48px;
  border-radius: 10px;
  border: 0;
  color: white;
}

.cardPublish input {
  width: 400px;
  height: 64px;
  font-size: 1.2rem;
  background-color: #f5edf7;
  border-radius: 1.2rem;
  border: 0;
  padding: 1rem;
}
